In [3]:
pip install boto3

Note: you may need to restart the kernel to use updated packages.Collecting boto3
  Downloading boto3-1.26.3-py3-none-any.whl (132 kB)
     -------------------------------------- 132.5/132.5 kB 2.6 MB/s eta 0:00:00
Collecting s3transfer<0.7.0,>=0.6.0
  Downloading s3transfer-0.6.0-py3-none-any.whl (79 kB)
     ---------------------------------------- 79.6/79.6 kB ? eta 0:00:00
Collecting jmespath<2.0.0,>=0.7.1
  Downloading jmespath-1.0.1-py3-none-any.whl (20 kB)
Collecting botocore<1.30.0,>=1.29.3
  Downloading botocore-1.29.3-py3-none-any.whl (9.8 MB)
     ---------------------------------------- 9.8/9.8 MB 8.7 MB/s eta 0:00:00
Collecting urllib3<1.27,>=1.25.4
  Downloading urllib3-1.26.12-py2.py3-none-any.whl (140 kB)
     -------------------------------------- 140.4/140.4 kB 8.1 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\users\yingm\appdata\roaming\python\python310\site-packages (from botocore<1.30.0,>=1.29.3->boto3) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\yingm\appdata\roaming\python\python310\site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.30.0,>=1.29.3->boto3) (1.16.0)
Installing collected packages: urllib3, jmespath, botocore, s3transfer, boto3
Successfully installed boto3-1.26.3 botocore-1.29.3 jmespath-1.0.1 s3transfer-0.6.0 urllib3-1.26.12

[notice] A new release of pip available: 22.2.1 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
pip install pandas

Collecting pandas
  Downloading pandas-1.5.1-cp310-cp310-win_amd64.whl (10.4 MB)
     --------------------------------------- 10.4/10.4 MB 31.2 MB/s eta 0:00:00
Collecting pytz>=2020.1
  Downloading pytz-2022.6-py2.py3-none-any.whl (498 kB)
     ------------------------------------- 498.1/498.1 kB 15.7 MB/s eta 0:00:00
Collecting numpy>=1.21.0
  Downloading numpy-1.23.4-cp310-cp310-win_amd64.whl (14.6 MB)
     --------------------------------------- 14.6/14.6 MB 34.4 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\yingm\appdata\roaming\python\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\yingm\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.23.4 pandas-1.5.1 pytz-2022.6
Note: you may need to restart the kernel to use updated packages.

  WARNING: The script f2py.exe is installed in 'c:\Users\yingm\AppData\Local\Programs\Python\Python310\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

[notice] A new release of pip available: 22.2.1 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import boto3
import pandas as pd
s3 = boto3.client("s3" )
bucket_name = "project-data-maiythack"
s3_object = "power.txt"
obj = s3.get_object(Bucket=bucket_name, Key=s3_object)
df = pd.read_csv(obj['Body'], sep = ";")

C:\Users\mavic\AppData\Local\Temp\ipykernel_59468\1845144713.py:7: DtypeWarning: Columns (2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(obj['Body'], sep = ";")

In [2]:
df

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0
...,...,...,...,...,...,...,...,...,...
2075254,26/11/2010,20:58:00,0.946,0.0,240.43,4.0,0.0,0.0,0.0
2075255,26/11/2010,20:59:00,0.944,0.0,240.0,4.0,0.0,0.0,0.0
2075256,26/11/2010,21:00:00,0.938,0.0,239.82,3.8,0.0,0.0,0.0
2075257,26/11/2010,21:01:00,0.934,0.0,239.7,3.8,0.0,0.0,0.0
2075258,26/11/2010,21:02:00,0.932,0.0,239.55,3.8,0.0,0.0,0.0

In [3]:
df['Date'] = pd.to_datetime(df['Date']).dt.strftime('%m/%d/%Y')

df

C:\Users\mavic\AppData\Local\Temp\ipykernel_59468\1145811932.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['Date'] = pd.to_datetime(df['Date']).dt.strftime('%m/%d/%Y')

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,12/16/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,12/16/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,12/16/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,12/16/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,12/16/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0
...,...,...,...,...,...,...,...,...,...
2075254,11/26/2010,20:58:00,0.946,0.0,240.43,4.0,0.0,0.0,0.0
2075255,11/26/2010,20:59:00,0.944,0.0,240.0,4.0,0.0,0.0,0.0
2075256,11/26/2010,21:00:00,0.938,0.0,239.82,3.8,0.0,0.0,0.0
2075257,11/26/2010,21:01:00,0.934,0.0,239.7,3.8,0.0,0.0,0.0
2075258,11/26/2010,21:02:00,0.932,0.0,239.55,3.8,0.0,0.0,0.0

In [4]:
df['Month'] = pd.to_datetime(df['Date']).dt.month

In [5]:
df.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,Month
0,12/16/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0,12
1,12/16/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0,12
2,12/16/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0,12
3,12/16/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0,12
4,12/16/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0,12

In [6]:
def find_season(month, hemisphere):
    if hemisphere == 'Southern':
        season_month_south = {
            12:'Summer', 1:'Summer', 2:'Summer',
            3:'Autumn', 4:'Autumn', 5:'Autumn',
            6:'Winter', 7:'Winter', 8:'Winter',
            9:'Spring', 10:'Spring', 11:'Spring'}
        return season_month_south.get(month)
        
    elif hemisphere == 'Northern':
        season_month_north = {
            12:'Winter', 1:'Winter', 2:'Winter',
            3:'Spring', 4:'Spring', 5:'Spring',
            6:'Summer', 7:'Summer', 8:'Summer',
            9:'Autumn', 10:'Autumn', 11:'Autumn'}
        return season_month_north.get(month)
    else:
        print('Invalid selection. Please select a hemisphere and try again')

In [8]:
season_list = []
hemisphere = 'Northern'
for month in df['Month']:
    season = find_season(month, hemisphere)
    season_list.append(season)
    
df['Season'] = season_list

In [9]:
df

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,Month,Season
0,12/16/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0,12,Winter
1,12/16/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0,12,Winter
2,12/16/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0,12,Winter
3,12/16/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0,12,Winter
4,12/16/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0,12,Winter
...,...,...,...,...,...,...,...,...,...,...,...
2075254,11/26/2010,20:58:00,0.946,0.0,240.43,4.0,0.0,0.0,0.0,11,Autumn
2075255,11/26/2010,20:59:00,0.944,0.0,240.0,4.0,0.0,0.0,0.0,11,Autumn
2075256,11/26/2010,21:00:00,0.938,0.0,239.82,3.8,0.0,0.0,0.0,11,Autumn
2075257,11/26/2010,21:01:00,0.934,0.0,239.7,3.8,0.0,0.0,0.0,11,Autumn
2075258,11/26/2010,21:02:00,0.932,0.0,239.55,3.8,0.0,0.0,0.0,11,Autumn

In [12]:
df.drop(['Month'], axis=1, inplace=True)
df

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,Season
0,12/16/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0,Winter
1,12/16/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0,Winter
2,12/16/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0,Winter
3,12/16/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0,Winter
4,12/16/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0,Winter
...,...,...,...,...,...,...,...,...,...,...
2075254,11/26/2010,20:58:00,0.946,0.0,240.43,4.0,0.0,0.0,0.0,Autumn
2075255,11/26/2010,20:59:00,0.944,0.0,240.0,4.0,0.0,0.0,0.0,Autumn
2075256,11/26/2010,21:00:00,0.938,0.0,239.82,3.8,0.0,0.0,0.0,Autumn
2075257,11/26/2010,21:01:00,0.934,0.0,239.7,3.8,0.0,0.0,0.0,Autumn
2075258,11/26/2010,21:02:00,0.932,0.0,239.55,3.8,0.0,0.0,0.0,Autumn

In [13]:
df[df.isnull().any(axis=1)]

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,Season
6839,12/21/2006,11:23:00,?,?,?,?,?,?,NaN,Winter
6840,12/21/2006,11:24:00,?,?,?,?,?,?,NaN,Winter
19724,12/30/2006,10:08:00,?,?,?,?,?,?,NaN,Winter
19725,12/30/2006,10:09:00,?,?,?,?,?,?,NaN,Winter
41832,01/14/2007,18:36:00,?,?,?,?,?,?,NaN,Winter
...,...,...,...,...,...,...,...,...,...,...
1990185,09/28/2010,19:09:00,?,?,?,?,?,?,NaN,Autumn
1990186,09/28/2010,19:10:00,?,?,?,?,?,?,NaN,Autumn
1990187,09/28/2010,19:11:00,?,?,?,?,?,?,NaN,Autumn
1990188,09/28/2010,19:12:00,?,?,?,?,?,?,NaN,Autumn
2027411,10/24/2010,15:35:00,?,?,?,?,?,?,NaN,Autumn

In [14]:
import numpy as np

In [15]:
df['Global_active_power'].replace('?', np.nan, inplace = True)
df['Global_reactive_power'].replace('?', np.nan, inplace = True)
df['Voltage'].replace('?', np.nan, inplace = True)
df['Global_intensity'].replace('?', np.nan, inplace = True)
df['Sub_metering_1'].replace('?', np.nan, inplace = True)
df['Sub_metering_2'].replace('?', np.nan, inplace = True)

In [16]:
df.isnull().sum()

Date                         0
Time                         0
Global_active_power      25979
Global_reactive_power    25979
Voltage                  25979
Global_intensity         25979
Sub_metering_1           25979
Sub_metering_2           25979
Sub_metering_3           25979
Season                       0
dtype: int64

In [17]:
df2=df.dropna()
df2

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,Season
0,12/16/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0,Winter
1,12/16/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0,Winter
2,12/16/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0,Winter
3,12/16/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0,Winter
4,12/16/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0,Winter
...,...,...,...,...,...,...,...,...,...,...
2075254,11/26/2010,20:58:00,0.946,0.0,240.43,4.0,0.0,0.0,0.0,Autumn
2075255,11/26/2010,20:59:00,0.944,0.0,240.0,4.0,0.0,0.0,0.0,Autumn
2075256,11/26/2010,21:00:00,0.938,0.0,239.82,3.8,0.0,0.0,0.0,Autumn
2075257,11/26/2010,21:01:00,0.934,0.0,239.7,3.8,0.0,0.0,0.0,Autumn
2075258,11/26/2010,21:02:00,0.932,0.0,239.55,3.8,0.0,0.0,0.0,Autumn

In [18]:
df2.isnull().sum()

Date                     0
Time                     0
Global_active_power      0
Global_reactive_power    0
Voltage                  0
Global_intensity         0
Sub_metering_1           0
Sub_metering_2           0
Sub_metering_3           0
Season                   0
dtype: int64

In [19]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [20]:
x=df2.iloc[:,-3:]
x.head()

  Sub_metering_2  Sub_metering_3  Season
0          1.000            17.0  Winter
1          1.000            16.0  Winter
2          2.000            17.0  Winter
3          1.000            17.0  Winter
4          1.000            17.0  Winter

In [21]:
y=df2.iloc[:,2]
y.head()

0    4.216
1    5.360
2    5.374
3    5.388
4    3.666
Name: Global_active_power, dtype: object

In [22]:
# split data into training and test sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

In [ ]:
knn=KNeighborsClassifier(n_neighbors=5, weights='distance', metric='euclidean')
knn.fit(x_train, y_train)

In [ ]:
# calculate accuracy score
y_pred=knn.predict(x_test)
print('Accuracy of test set=', accuracy_score(y_test, y_pred)*100)